*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

body {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

table {
    border: 2px solid aqua;
    border-radius: 10px;
    color: #FFF;
    border-spacing: 10px;
    text-align: center;
    width: 70%;
    padding: 5px;
}

th, td {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    transition-duration: 100ms;
}

th:hover,
td:hover {
    background-color: aqua;
    transform: scale(1.125);
    color: #000;
    border-radius: 5px;
}

th {        
    color: yellow;
}

td {
    color: #FFF;
}