*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #000;
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  width: 100vw;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

p {
  font-size: 1.125em;
  line-height: 1.25em;
}

.main {
  width: 100%;
  height: 100%;
}

.section {
  width: 100vw;
}

.section-hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("../images/bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.section-hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
}

.section-hero .container {
  position: relative;
  z-index: 1;
}

.row {
  display: flex;
}

.col-50 {
  width: 50%;
}

.generic-panel {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  align-items: center;
  gap: 1em;
  color: #fff;
}

.generic-tag-box {
  display: flex;
  flex-wrap: wrap;
  background-color: bisque;
  border-radius: 2em;
  padding: 0.5em 1em;
  font-size: 1.125em;
  color: inherit;
}

.generic-tag-box .img-wrapper {
  width: 1.5625em;
  height: 1.5625em;
  background: url(../images/tag-icon.png) no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 0.625em;
}

.generic-title {
  width: 100%;
  font-size: 1.5em;
  color: inherit;
}

.generic-heading {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: inherit;
}

.generic-heading h1 {
  font-size: 4.5em;
  color: inherit;
  text-transform: capitalize;
}

.generic-heading h1 span {
  display: block;
  color: inherit;
}

.generic-tags-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: inherit;
}

.generic-tags-list ul {
  display: inline-flex;
  list-style-type: none;
  color: inherit;
}

.generic-tags-list ul li {
  color: inherit;
  font-size: 1.125em;
  margin: 0 1em 0 0;
  position: relative;
}

.generic-tags-list ul li::after {
  content: "";
  width: 0.3125em;
  height: 0.3125em;
  position: absolute;
  right: -0.5em;
  bottom: 0;
  transform: translate(0, -50%);
  background-color: #fff;
  border-radius: 100%;
}

.generic-tags-list ul li:last-child {
  margin: 0;
}

.generic-tags-list ul li:last-child::after {
  display: none;
  visibility: hidden;
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 2em;
  padding: 1em;
}

.card-wrapper {
  background-color: #fff;
  border-radius: 1em;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-wrapper .card-img-wrapper {
  width: 100%;
  height: 21.875em;
}

.card-wrapper .card-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-wrapper .card-content {
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.card-title {
  font-size: 1.75em;
  line-height: 1.25em;
}

.card-author-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.author-avatar-wrapper {
  width: 6.25em;
  height: 6.25em;
  border-radius: 100%;
  overflow: hidden;
}

.author-avatar-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author-details {
  padding-left: 0.75em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: calc(100% - 6.25em);
}

.author-name {
  font-size: 1em;
  line-height: 1.125em;
  font-weight: bold;
}

.author-role {
  font-size: 0.8em;
  text-transform: capitalize;
}
